################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/modules/EMT.DB.CountersBoard/EMT.DB.CountersBoard.dbmdl
/modules/EMT.DB.CountersBoard/EMT.DB.CountersBoard.jfm
