.sidebar {
  background-color: #252D36;
  color: white;
  padding: 2em;
  padding-left: 0;
  min-height: 100%;
  min-width: 300px;
  width: 300px;

  .fa { margin-right: 5px }

  ul {
      list-style-type: none;

      padding: 5px 0;
      padding-left: 2em;
      margin: 0;
  }

  label { cursor: pointer }
}