
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap-theme.css" rel="stylesheet" />

    <title>EMT: Generator</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.1.js"></script>

    @RenderSection("FootScripts", false)
</body>
</html>
