.chart-real-time {
  .axis {
      stroke-width: 1;
  }

  .axis .tick line {
      stroke: black;
  }

  .axis .tick text {
      fill: black;
      font-size: 0.7em;
  }

  .axis .domain {
      fill: none;
      stroke: black;
  }

  .group {
      fill: none;
      stroke: black;
      stroke-width: 1.5;
  }
}

.chart-line {
    fill: none;
    stroke: steelblue;
}

.chart-dots circle {
    fill: green;
}