.header-main {
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 1em;
    min-height: 4em;

    h1 { margin: 0 }

    .date-block {
        margin-right: 2em;
    }

    .date-label {
        margin-right: 5px;
    }
}